.footer-container {
    position: relative;
    bottom: 0;
    color: white;
    background-color: black;
    padding: 4rem;
}

.footer-header {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.footer-header form {
    display: flex;
    flex-direction: column;
}

.footer-header button {
    align-self: center;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    text-align: center;
}

.footer-info-project {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.instagram-icon {
    font-size: 2rem;
    color: rgb(179, 179, 179);
    transition: color 0.2s ease;
}

.instagram-icon:hover {
    color: white;
}

.email-link:hover {
    color: white;
}

.email-link,
.instagram-icon,
.footer-info-about>a,
.footer-info-buy>a,
.footer-info-account>a {
    transition: color 0.2s ease;
    color: rgb(179, 179, 179);
    text-decoration: none;

}

.email-link:hover,
.instagram-icon:hover,
.footer-info-about>a:hover,
.footer-info-buy>a:hover,
.footer-info-account:hover {
    color: white;
}

.footer-info-about,
.footer-info-buy,
.footer-info-account {
    display: flex;
    flex-direction: column;
}