.detail-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 125vh;
}

.detail-products-container {
    display: flex;
    flex-direction: row;
}

.gallery-wrapper {
    background-color: white;
    width: 100%;
    padding: 2rem;
}

.viewer {
    text-align: center;
    margin-bottom: 20px;
}

.main-image {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

.gallery-wrapper img {
    width: 100%;
    user-select: none;
}

.detail-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5rem;
    background-color: white;
    height: 60%;
    width: 100%;
}

.size {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.size-guide {
    max-width: 80%;
}

.detail-info {
    color: black;
}

.detail-info button {
    align-self: center;
    width: 50%;
}

.detail-info h1 {
    margin: 0;
}

.detail-info select {
    border-color: rgba(112, 112, 112, 0.179);
    padding: 0.5rem;
    color: rgb(112, 112, 112);
    outline: none;
}

.add-btn {
    border: none;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    margin-bottom: 0.6rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;
}

.add-btn:hover {
    scale: 1.1;
}

.add-btn:disabled {
    background-color: rgba(150, 150, 150, 0.658);
    cursor: not-allowed;
    opacity: 0.6;
}

.recommended-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    padding-left: 2rem;
    gap: 1rem;
}

.recommended-products .cards-container {
    gap: 10rem;
}

.recommended-products img {
    height: auto;
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    gap: 1rem;
    height: 30%;
}

.img-gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
}

.thumb {
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    opacity: 0.5;
}

.thumb:hover,
.thumb.active {
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}