# Ignore macOS specific files
.DS_Store

# Logs
*.log

# Node.js dependencies
node_modules

# Python cache files and directories
__pycache__/

# Python virtual environment files
.env
.venv
.env.production
venv/

# Vscode settings
.vscode/

# Certificates
/dre4m-frontend/certs
/dre4m-backend/certs