.wrapper {
    padding: 1.5rem 0px;
    margin-top: 4rem;
    color: white;
    font-size: 1rem;
    background-color: black;
    height: 0.5rem;
    max-height: 2rem;
    display: flex;
    align-items: center;
    z-index: 999;
    position: relative;
}

.marquee-text {
    overflow: clip;
    /* Not strictly necessary, overflow-x hidden in body */
}

.marquee-text-track {
    display: flex;
    padding-left: 4.8rem;
    gap: 4.8rem;
    width: max-content;
    animation: marquee-move-text 20s linear infinite;
}

.marquee-text p {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

@keyframes marquee-move-text {
    to {
        transform: translate(-60%);
    }
}