# Ignore Python cache files and directories
__pycache__/

# Ignore virtual environment files
.env
.venv
venv/

# Ignore log files
*.log

# Ignore specific __pycache__ files
app/db/utils/__pycache__/init_db.cpython-310.pyc
app/db/utils/__pycache__/init_queries.cpython-310.pyc

# Ignore macOS specific files
.DS_Store
