.cards-container {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cards-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.cards-container img {
    max-width: 100%;

}

.cards-container h3 {
    margin: 0;
}

.card-text {
    padding: 0.5rem;
}