.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.navbar__logo {
    font-size: larger;
    margin-left: 2rem;
}

.navbar__list {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    margin-right: 2rem;
}