.section-wrapper {
    position: sticky;
    top: 0;
    height: 120%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.section-name {
    font-size: larger;
    font-weight: bold;
    color: black;
}

.image-section-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.product-card {
    height: 100%;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    /* background-color: red; */
}

.product-card h3 {
    margin: 0;
}

.product-card p {
    margin: 0;
}

.image-wrapper1,
.image-wrapper2,
.image-wrapper3 {
    position: sticky;
    top: -10%;
    width: 100%;
    overflow: hidden;
}

.flex-image {
    top: 4rem;
    max-width: 100%;
    max-height: 100%;
    display: block;
    z-index: 3;
    transition: transform 0.3s ease;
}

.flex-image:hover {
    transform: translateY(-10px);
}

.sticky-image1 {
    width: 100%;
    display: block;
    margin-top: -5rem;
}

.sticky-image2 {
    width: 100%;
    display: block;
}

.sticky-image3 {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.second-overlay {
    position: absolute;
    top: 75%;
    left: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.third-overlay {
    position: absolute;
    top: 89%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text {
    color: rgb(227, 150, 6);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin: 0;
}

.second-overlay-text {
    color: rgb(181, 114, 252);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin: 0;
}

.third-overlay-text {
    color: rgb(226, 50, 50);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin: 0;
}

.overlay-button {
    background-color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-weight: bolder;
}